.text_white {
	color: #fff;
}

.text_blue {
	color: #00f;
}

.text_green {
	color: #0f0;
}

.text_red {
	color: #f00;
}

.text_orange {
	color: #f80;
}

.text_yellow {
	color: #ff0;
}

.text_pink {
	color: #f88;
}

.text_cyan {
	color: #0ff;
}

#client_chatcontainer {
	display: block;
	position: absolute;
	bottom: 3%;
	left: 3%;
	width: 94%;
	height: 30%;
	width: calc(94% - 2em);
	border-color: #443;
	border-style: solid;
    border-width: 1em;
    font-family: "MS Gothic";
}

#client_name {
	display: none;
}

#client_chat {
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	font-size: 1.5em;
	word-break: keep-all;
	overflow-wrap: break-word;
	text-align: left;
	overflow: hidden;
	border: 0.15em inset #555;
    text-shadow: black 0.2em 0.1em;    
    background: linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,255,0,0.7));
}

#client_inner_chat {
    margin: 0;
    padding: 1% 3%;
}

#client_chatwaiting {
    display: none;
	position: absolute;
	right: 2%;
	bottom: 0.5em;
	line-height: 0.5;
	color: transparent;
	animation: wait_pulse 0.5s linear;
}

#client_clock {
    display: block;
    position: absolute;
	right: 1%;
    top: 3%;
    width: 20%;
    height: 10%;
    background: #111;
    border: 2px outset #555;
    text-align: left;
}

#client_clockdecoration {
    display: inline-block;
    height: 100%;
    width: 38%;

}

#client_date {
    position: absolute;
    margin: 0;
    top: 0;
    left: 42%;
}


#client_time {
    position: absolute;
    margin: 0;
    bottom: 0;
    right: 2%;
    text-align: right;
}